/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  background-image: var(--background) ;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  background-color: var(--background-color-all);
  display: grid;
  place-items: center;
}

.header {
  margin-top: 102px;
  margin-bottom: 100px;
  width: 100%;
  max-width: 696px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-all);
  border: 2px solid var(--border-color);
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-text);
  box-sizing: border-box;
}

.theme-menu__item {
  display: flex;
  align-items: start; 
}

.theme-menu__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 25px 0px 25px 0px;
  gap: 14px;
  font-size: 14px;
  width: 100%;
}

.header__theme-menu {
display: grid;
justify-content: center;
width: min-content;
padding-left: 25px;
}

.heading {
  text-align: center;
}

.heading-head {
  font-size: 4rem;
  margin: 140px 0px 20px 0px;
}

.heading-bottom {
  text-transform: uppercase;
  font-size: 1.45rem
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding: 0;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  border: none;
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: var(--text-color);
  transform-origin: left bottom;
}

.theme-menu__button:disabled::before{
  position: absolute;
  content: "▶";
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

.section {
  background: var(--background-color-all);
  border: 2px solid var(--border-color);
  max-width: 696px;
  display: grid;
  place-items: center;
}

.section-item {
  display: grid;
  place-items: center;
  gap: 25px;
}

.image {
  width: 100%;
  object-fit: cover;
  display: block;
  object-position: center;
}

.main-text {
  padding: 0px 25px 0px 25px;
  font-family: var(--font-family-text, sans-serif);
  font-weight: var(--text-weight);
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
}

.text-heading {
  padding: 5px 8px 5px 8px;
  font-family: var(--font-family-text);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--text-heading-weiht);
  line-height: normal;
  width: 100%;
}

.button-container {
  width: 100%;
  padding: 0px 25px 25px 25px;
  display: flex;
  justify-content: end;
  gap: 3px;
}

.button {
  background: transparent;
  border: none;
}

.button:focus {
  outline:none
}

.like-icon-container:focus-visible {
 box-shadow: 0px 0px 0px 2px var(--text-color);
}

 .like-icon:hover {
    cursor: pointer;
 }

.button_like:focus {
  outline:none
}

.button_like {
background: none;

}
.button_like {
  z-index: 1;
  font-family: var(--font-family-heading);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--border-color);
  position: relative;
  overflow: hidden;
  background-color: var(--background-color-all)
}

.card__like-button {
  max-width: 130px;
  min-height: 38px;
}

.card-button {
  mix-blend-mode: difference;
  color: var(--mix-color);
}

.button_like:focus-visible {
  box-shadow: 2px 2px 0px 2px var(--border-color);
}

.button_like::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--text-color);
  width: 100%;
  height: 100%;
}

.button_like:hover::before {
  color: var(--background-color-all);
}

.button_like{
  width: 100%;
  height: 100%;
}

.button_like:hover{
cursor: pointer;
}

.button__text {
  font-family: var(--font-family-heading);
  width: 335px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.lable {
  position: absolute;
  top: 25px;
  right: 10px;
  text-align: center;
  z-index: 1;
  color: black;
  font-size: 14px;
  font-family: var(--font-family-heading);
  color: var(--text-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px var(--background-color-all)) or (-webkit-text-stroke: 1px var(--background-color-all))) {
  .lable {
    -webkit-text-stroke: 1px var(--background-color-all)
  }
}
@supports not ((text-stroke: 1px var(--background-color-all)) or (-webkit-text-stroke: 1px var(--background-color-all))) {
  .lable { 
    text-shadow: 0 0 1px var(--background-color-all) 
  }
}

.image-container {
  width: 100%;
  position: relative;
  z-index: 0;
  display: block;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.sparks {
opacity: 0;
}

.main-body {
opacity: 0;
}

.core {
  opacity: 0;
}

.dialog-button {
  width: 100%;
  min-height: 51px;
}

.dialog-button:focus-visible {
 box-shadow: none;
}

.dialog-button-item {
  width: min-content;
  white-space: nowrap;
}

.footer {
  display: flex;
  background-color: var(--background-color-all);
  justify-content: center;
  width: 100%;
  max-width: 336px;
  margin: 50px 35px 100px 35px;
  font-family: var(--font-family-heading);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; 
}

.floppy {
  fill: var(--mix-color);
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
}

.dialog [open] {
    display: grid;
  grid-template-rows: 2fr;
}

.dialog  {
  background-color: var(--background-color-all);
  border: 2px solid var(--border-color);
  max-width: 357px;
  max-height: 193px;
  font-family: var(--font-family-heading);
  font-size: 9px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  padding: 32px 42px 32px 42px;
}

.dialog::backdrop {
  opacity: 0.75;
  background: black
}

.text-dialog {
  color: var(--text-color);
  width: 195px;
  height: min-content;
  line-height: 150%;
}

.text-container-dialog {
  display: flex;
  gap: 20px;
}

.floppy-dialog {
  width: 40px;
  height: 40px;
}

.close {
 height: 38px;
 color: var(--mix-color);
  font-family: var(--font-family-heading);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  text-transform: uppercase;
  margin-top: 25px;
}

.close:focus-visible {
box-shadow: none;
}

.close_text {
  color: var(--mix-color);
  mix-blend-mode: difference ;
}

.start {
  filter: grayscale(90%);
}

.clear-list {
  filter: sepia(20%);
}

.problem {
  filter: blur(2px);
}

.perfect {
  filter: brightness(140%);
}

.near {
  filter: contrast(140%);
}

.strategy {
  filter: hue-rotate(110deg);
}

.when {
  filter: saturate(200%);
}

.now {
  filter: brightness(120%) blur(2px)
}

@media (width <= 375px) {
  .dialog-button {
    display: grid;
    grid-template-rows: 2fr;
    place-items: center;
    gap: 8px;
    padding: 12px 0px 12px 0px;
  }

  .heading-head {
    font-size: 49px;
    margin: 120px 0px 20px 0px;
  }

  .heading-bottom {
    text-transform: uppercase;
    font-size: 14px
  }

  .floppy {
    width: 28px;
    height: 28px;
  }

  .footer {
    max-width: 305px;
  }

  .main {
    gap: 48px;
  }

}
