/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  background-image: var(--background) ;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  background-color: var(--background-color-all);
  display: grid;
  place-items: center;
}

.head-section {
  display: grid;
  gap: 50px;
  place-items: center;
}

.header {
  margin-top: 102px;
  margin-bottom: 100px;
  width: 100%;
  max-width: 696px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-all);
  border: 2px solid var(--border-color);
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-text);
  box-sizing: border-box;
}

.theme-menu__item {
  display: flex;
  align-items: start; 
}

.theme-menu__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 25px 0px 25px 0px;
  gap: 14px;
  font-size: 14px;
  width: 100%;
}

.header__theme-menu {
  display: grid;
  justify-content: center;
  width: min-content;
  padding-left: 25px;
}

.heading {
  text-align: center;
}

.heading-head {
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
  margin: 140px 0px 20px 0px;
}

.heading-bottom {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding: 0;
  transition: 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: var(--text-color);
  transform-origin: left bottom;
  transition: transform 0.3s ease; 
  transform: scaleX(0);
}

.theme-menu__button:focus-visible:after {
  transform: scaleX(1);
}

.theme-menu__button:disabled::before{
  position: absolute;
  top: 0;
  content: "▶";
  animation: amplitude 1s ease-in-out infinite alternate;
  inset-inline-start: -20px;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 52px;
}

.section {
  background: var(--background-color-all);
  border: 2px solid var(--border-color);
  max-width: 696px;
  display: grid;
  place-items: center;
}

.section-item {
  display: grid;
  justify-content: center;
  gap: 25px;
}

.image {
  width: 100%;
  max-width: 696px;
  object-fit: cover;
  display: block;
  object-position: center;
}

.main-text {
  padding: 0.4% 25px 0px 25px;
  font-family: var(--font-family-text, sans-serif);
  font-variation-settings: 'wght' var(--font-weight-text);
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
}

.text-heading {
  padding: 5px 8px 5px 8px;
  font-family: var(--font-family-text);
  font-size: 18px;
  font-style: normal;
  font-variation-settings: 'wght' var(--font-weight-text-heading);
  line-height: normal;
  width: 100%;
}

.button-container {
  width: 100%;
  padding: 0px 25px 25px 25px;
  display: flex;
  justify-content: end;
  gap: 3px;
}

.button {
  background: transparent;
  border: none;
}

.button:focus {
  outline:none
}

.like-icon-container {
  margin-top: 2px;
  max-height: 34px;
  padding: 0;
  margin: 2px 5px 0 0;
  display: flex;
  place-items: center;
  transition: 0.3s ease;
 }

.like-icon-container:focus-visible {
 box-shadow: 0px 0px 0px 2px var(--text-color);
}

 .like-icon:hover {
    cursor: pointer;
 }

.button_like:focus {
  outline:none
}

.button_like {
  z-index: 1;
  font-family: var(--font-family-heading);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--border-color);
  position: relative;
  overflow: hidden;
  background-color: var(--background-color-all);
  transition: box-shadow 0.3s ease;
  border: 2px solid var(--text-color);
  gap: 8px;
}

.card__like-button {
  max-width: 130px;
  min-height: 38px;
}

.card-button {
  font-family: var(--font-family-heading);
  width: 335px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  mix-blend-mode: difference;
  color: var(--mix-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.button_like:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--border-color);
}

.button_like::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  background-color: var(--text-color);
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}

.button_like:hover::before {
  transform: scaleX(1);
  cursor: pointer;
}

.button_like{
  width: 100%;
  height: 100%;
}

.button_like:hover{
  cursor: pointer;
}

.lable {
  position: absolute;
  top: 23px;
  right: 3%;
  text-align: center;
  z-index: 1;
  color: black;
  font-size: 14px;
  font-family: var(--font-family-heading);
  color: var(--text-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 1px 0 0 var(--background-color-all), -1px 0 0 var(--background-color-all), 0 1px 0 var(--background-color-all), 0 -1px 0 var(--background-color-all);
}

@supports ((text-stroke: 1px var(--background-color-all)) or (-webkit-text-stroke: 1px var(--background-color-all))) { 
  .lable { 
    -webkit-text-stroke: 1px var(--background-color-all); 
    text-stroke: 1px var(--background-color-all); 
    text-shadow: none; 
  } 
} 

.image-container {
  width: 100%;
  position: relative;
  z-index: 0;
  display: block;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.sparks {
opacity: 0;
}

.main-body {
opacity: 0;
}

.core {
  opacity: 0;
}

.dialog-button {
  width: 100%;
  min-height: 51px;
}

.dialog-button-item {
  width: min-content;
  white-space: nowrap;
}

.footer {
  display: flex;
  background-color: var(--background-color-all);
  justify-content: center;
  width: 100%;
  max-width: 336px;
  margin: 0px 0px 100px 0px;
  font-family: var(--font-family-heading);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; 
}

.floppy {
  fill: var(--mix-color);
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
}

.dialog [open] {
  display: grid;
  grid-template-rows: 2fr;
}

.dialog  {
  background-color: var(--background-color-all);
  border: 2px solid var(--border-color);
  max-width: 357px;
  font-family: var(--font-family-heading);
  font-size: 9px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  padding: 30px 30px 30px 30px;
}

.dialog::backdrop {
  opacity: 0.75;
  background: black;
}

.text-dialog {
  color: var(--text-color);
  width: 195px;
  height: min-content;
  line-height: 150%;
}

.text-container-dialog {
  display: flex;
  gap: 20px;
}

.floppy-dialog {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  fill: var(--mix-color);
  mix-blend-mode: difference;
}

.close {
  height: 38px;
  width: 293px;
  color: var(--mix-color);
  font-family: var(--font-family-heading);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 25px;
}

.start-grayscale {
  filter: grayscale(90%);
}

.clear-list-sepia {
  filter: sepia(20%);
}

.problem-blur {
  filter: blur(2px);
}

.perfect-brightness {
  filter: brightness(140%);
}

.near-contrast {
  filter: contrast(140%);
}

.strategy-rotate {
  filter: hue-rotate(110deg);
}

.when-saturate {
  filter: saturate(200%);
}

.now-brightness__blur {
  filter: brightness(120%) blur(2px)
}

@media (width <= 375px) {
  .dialog-button {
    display: grid;
    grid-template-rows: 2fr;
    place-items: center;
    gap: 8px;
    padding: 12px 0px 12px 0px;
  }

  .heading-head {
    margin: 120px 0px 20px 0px;
  }

  .floppy {
    width: 28px;
    height: 28px;
    margin-top: 7px;
  }

  .footer {
    max-width: 305px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .close {
    max-width: 257px;
  }
  
  .main-text {
    padding: 0 25px 0px 25px;
  }
}
