/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
    --background: repeating-linear-gradient(to left, transparent 0 2px, #000 0 4px),
    repeating-linear-gradient(to bottom, transparent 0 2px, #000 0 4px),
    linear-gradient(to bottom, #007f0c, #004306);
    --font-family-text: "Inter", "PressStart2P";
    --text-color: var(--green-color);
    --background-color-all: var(--black-color);
    --border-color: var(--green-color);
    --text-weight: var(--font-weight-text-dark);
    --text-heading-weiht: var(--font-weight-heading-dark);
    --mix-color: var(--green-color);
    --heart-color: var(--green-color);
}

:root.theme-light {
    --background: repeating-linear-gradient(to left, #d3d3d3 0 2px, transparent 0 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 0 4px),
    linear-gradient(to bottom, #d3d3d3 0.1%, #000);
    --font-family-text: "Inter", "PressStart2P";
    --text-color: var(--black-color);
    --background-color-all: var(--white-color);
    --border-color: var(--black-color);
    --text-weight: var(--font-weight-text-light);
    --text-heading-weiht: var(--font-weight-heading-light);
    --mix-color: var(--white-color);
    --heart-color: var(--black-color);
}

@media (prefers-color-scheme :dark) {
:root {
    --background: repeating-linear-gradient(to left, transparent 0 2px, #000 0 4px),
    repeating-linear-gradient(to bottom, transparent 0 2px, #000 0 4px),
    linear-gradient(to bottom, #007f0c, #004306);
    --font-family-text: "Inter", "PressStart2P";
    --text-color: var(--green-color);
    --background-color-all: var(--black-color);
    --border-color: var(--green-color);
    --text-weight: var(--font-weight-text-dark);
    --text-heading-weiht: var(--font-weight-heading-dark);
    --mix-color: var(--green-color);
    --heart-color: var(--green-color);
    }
}

@media (prefers-color-scheme :light) {
    :root {
        --background: repeating-linear-gradient(to left, #d3d3d3 0 2px, transparent 0 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 0 4px),
        linear-gradient(to bottom, #d3d3d3 0.1%, #000);
        --font-family-text: "Inter", "PressStart2P";
        --text-color: var(--black-color);
        --background-color-all: var(--white-color);
        --border-color: var(--black-color);
        --text-weight: var(--font-weight-text-light);
        --text-heading-weiht: var(--font-weight-heading-light);
        --mix-color: var(--white-color);
        --heart-color: var(--black-color);
    }
}