/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --green-color: #00CC14;
    --white-color: white;
    --black-color: black;
    --red-color: red;
    --font-family-text: "Inter", sans-serif;
    --font-family-heading: "PressStart2P", sans-serif;
}